.container {
    border-radius: 25px;
    background: #000000; 
}

#calculator-display {
    border-radius: 25px;
    background: #73AD21;
}

button {
    border-radius: 25px;
    background: #73AD21;  
}



